<% provide(:title, 'Sign In') %>
<div class="body">
  <body>
    <div class="form">
      <%= simple_form_for(:session, url: sessions_path) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, autofocus: true, label: 'email', required: false %>
        <%= f.input :password, label: 'password', required: false %>
        <%= f.button :submit, 'sign in', class: 'submit', required: false %>
      <% end %>
    </div>
  </body>
</div>
