<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>The following activity occurred within <%= @subscriber.radius %> mile of <%= @subscriber.address %>:</h4>
    <% if @police_alerts.length > 0 %>
      <h4 class="show">Police Alerts</h4>
      <table>
        <thead>
          <tr>
            <th width="100">Date</th>
            <th width="100">Approximate Location</th>
            <th width="150">Description</th>
          </tr>
        </thead>
        <tbody>
        <% @police_alerts.each do |p| %>
          <tr>
            <td><%= I18n.l(p.event_clearance_date, format: :short).squish %></td>
            <td><%= p.hundred_block_location %></td>
            <td><%= p.event_clearance_description.downcase.titleize %></td>
          </tr>
        <% end %>
        </tbody>  
      </table>
    <% end %>
    <% if @fire_alerts.length > 0 %>
      <h4 class="show">Fire Alerts</h4>
      <table>
        <thead>
          <tr>
            <th width="100">Date</th>
            <th width="100">Approximate Location</th>
            <th width="150">Description</th>
          </tr>
        </thead>
        <tbody>
        <% @fire_alerts.each do |f| %>
          <tr>
            <td><%= I18n.l(f.datetime, format: :short).squish %></td>
            <td><%= f.address %></td>
            <td><%= f.fire_type.downcase.titleize %></td>
          </tr>
        <% end %>
        </tbody>  
      </table>
    <% end %>
    <br/>
    <p>You are receiving Seattle Alerts emails: <%= link_to "Unsubscribe", edit_subscriber_url(@subscriber) %></p>
    <p>If you need assistance or have questions, please contact the admin at jeff.j.stringer@gmail.com</p>
    <p>© 2015, Seattle Alerts </p>
  </body>
</html>
