<% provide(:title, 'Stay Informed') %>
<div class="p">
<!--<p>By subscribing, you will be informed by email if there is a police or fire response within 1/4 mile of the address you enter.</p>-->
</div>
<div class="form">
  <%= simple_form_for(@subscriber) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, autofocus: true, label: 'email', required: false %>
    <%= f.input :street, label: 'street (e.g. 85 Pike St)', required: false %>
    <%= f.label "choose alert radius:" %>
    <%= f.collection_radio_buttons :radius, [[0.5, '1/2 mile'] ,[1.0, '1 mile']], :first, :last %>
    <%= f.input :password, label: 'password (6 characters minimum)', required: false %>
    <%= f.input :password_confirmation, :required => true, label: 'confirmation', required: false %>
    <div class="row">
      <%= f.button :submit, 'receive alerts', class: 'submit', required: false %>
    </div>
  <% end %>
</div>


