<% provide(:title, @subscriber.email) %>

<div class="block">
  <p class="location">Activity within <%= @subscriber.radius =%> mile of <%= @subscriber.street =%>:</p>
  <% if @subscriber.police_alerts.length > 0 %>
    <h4 class="show">My Police Alerts</h4>
    <table>
      <thead>
        <tr>
          <th width="100">Date</th>
          <th width="100">Approximate Location</th>
          <th width="150">Description</th>
        </tr>
      </thead>
      <tbody>
      <% @subscriber.police_alerts.order('time_show DESC').limit(30).each do |alert| %>
        <tr>
          <td><%= alert.event_clearance_date %></td>
          <td><%= alert.hundred_block_location %></td>
          <td><%= alert.event_clearance_description.downcase.titleize %></td>
        </tr>
      <% end %>
      </tbody>  
    </table>
  <% else %>
    <p>You currently have no police alerts.</p>
  <% end %>
  <% if @subscriber.fire_alerts.length > 0 %>
    <h4 class="show">My Fire Alerts</h4>
    <table>
      <thead>
        <tr>
          <th width="100">Date</th>
          <th width="100">Approximate Location</th>
          <th width="150">Description</th>
        </tr>
      </thead>
      <tbody>
      <% @subscriber.fire_alerts.order('time_show DESC').limit(15).each do |alert| %>
        <tr>
          <td><%= alert.datetime %></td>
          <td><%= alert.address %></td>
          <td><%= alert.fire_type.downcase.titleize %></td>
        </tr>
      <% end %>
      </tbody>  
    </table>
  <% else %>
    <p>You currently have no fire alerts.</p>
  <% end %>
</div>